ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
	background-color: #2B2D3C;
}
#view{
	height: 100%;
    overflow-x:hidden; 
    position: relative;
    padding: 15px;
}
/************/
#list_Myview{
    width: 100%;
    height: auto;
}
#sl_name{
	width: 100%;
	height: 100%;
	-moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
	border-radius: 20px;
	overflow: hidden;
}
/************/
#list_view ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 6%;
}
#list_view ul li{
    width:328px;
    height: 290px;
    margin: 20px 20px;
    float: left;
    color: #E7E7E9;
    overflow: hidden;
    position: relative;
}
#list_view ul li a{
    display: block;
    color:#777;
    width: 100%;
    height: 100%;
}
#list_view ul li a img{
    background-repeat: no-repeat;
    -moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px;
}
/*#sk_list_view ul li a icon{
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}*/

.sl_left{
    width: 380px;
    height: auto;
    /*overflow: auto!important;*/
    position: absolute;
    top: 10px;
    right: 10px;
}

.sl_show{
	display: block;
}
.sl_hide{
	display: none;
}
#list_view p{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    font-size: 16px;
}
.icon-img{ 
    display: inline-block; 
    width:23px; 
    height:23px; 
    background: url(../../image/icon4.png) no-repeat center;
    vertical-align: middle;
    padding-right: 10px;
}

.sl_top{
	position: absolute;
	left: 15px;
	top: 15px;
	width: 50%;
	height: 40px;
	font-size: 14px;
    z-index: 999;
	color: #fff;
	-moz-border-radius: 20px; 
    -webkit-border-radius: 20px; 
    border-radius: 20px 0 0 0;
    background: -webkit-linear-gradient(right, rgba(50,53,69,1), rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, rgba(255,0,0,0), rgba(255,0,0,1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to left, rgba(255,255,255,0), rgba(50,53,69,1)); /* 标准的语法（必须放在最后） */
}
.sl_top p{
	margin-top: 5px;
}
.sl_top span{
	margin-left: 20px;
	margin-right: 10px;
	font-size: 20px;
}
video::-internal-media-controls-overflow-button{ display: none; }
video::-webkit-media-controls-fullscreen-button{ display: none; }
video::-webkit-media-controls-current-time-display{ display: none;}
video::-webkit-media-controls-time-remaining-display{ display: none;}
video::-webkit-media-controls-mute-button{ display: none;}
video::-webkit-media-controls-timeline{ display: none;}
video::-webkit-media-controls-start-playback-button { display: none;}
video::-webkit-media-controls-enclosure{ overflow: hidden;border-radius: 20px; }
