@font-face {
  font-family: 'iconfont-monitor';  /* project id 777009 */
  src: url('//at.alicdn.com/t/font_777009_2xjzrri079c.eot');
  src: url('//at.alicdn.com/t/font_777009_2xjzrri079c.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_777009_2xjzrri079c.woff') format('woff'),
  url('//at.alicdn.com/t/font_777009_2xjzrri079c.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_777009_2xjzrri079c.svg#iconfont-monitor') format('svg');
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}


.icon{
    font-family:"iconfont-monitor" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cameraName:after{
  content: '\e67f';
}
.icon-camera:after{
  content: '\e60d';
}
.icon-video:after{
  content: '\e78e';
}
.icon-zoom:after{
  content: '\e63e';
}
.icon-shrink:after{
  content: '\e645';
}
.icon-mouse:after{
  content: '\e607';
}
.icon-tabCamera:after{
  content: '\e606';
}
.icon-new:after{
  content: '\e625';
}
.icon-seek:after{
  content: '\e640';
}
.icon-loading:after{
  content: '\e6ac';
}
.icon-d{
  position: relative;
}
.icon-exit:after{
  content: '\e64e';
}
.icon-d:before{
  content: '';
  width: 6px;
  height: 6px;
  background: #2296F3;
  border: 1px solid #2F3241;
  display: block;
  position: absolute;
  top: 23px;
  right: 22px;
  border-radius: 50%;
}
.icon1{
  width: 38px;
  height: 38px;
  display: inline-block;
  cursor: pointer;
  background: url(../image/icon1.png) no-repeat center center;
}